.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    &__form {
        max-width: 566px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 17px;   
        .btn {
            max-width: 320px;
            height: 52px;
            margin: 0 auto;
            padding: 0 56px;
        }
    }
    &__reg_link {
        font-size: 18px;
        font-weight: 700;
        display: block;
        margin-bottom: 16px;
        color:#02517A;
        &:hover {
            text-decoration: underline;
        }    }
    &__restore_link {
        font-size: 14px;
        color: #7F8FA4;
        text-align: center;
        line-height: 2.15;
        strong {
            display: block;
            color: #02517A;
            font-weight: 700;
            display: block;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}
.input_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    &_label {
        display: block;
        color:#212529;
        margin-bottom: 14px;
    }
    .input_block_field {
        display: block;
        width: 100%;
        margin-bottom: 25px;
        color:#212529;
        border: 1px solid #DDE4EB;
        background-color: #F6F6FD;
        padding: 15px 15px 18px;
        text-align: center;
        &::placeholder {
            color:#7F8FA4;
        }
    }
    &-error {
        .input_block_field {
            border: 1px solid #FF0000;
        }
        .input_block_label {
            color: #ff0000;
        }


    }
}
.reg { 
    padding-bottom: 212px;
    &__subheader {
        font-size: 20px;
        text-align: center;
        margin-bottom: 39px;
        color:#008DD2;
    } 
    &__buttons {
        display: flex;
        justify-content: center;
        .btn {
            width: 100%;
            max-width: 172px;
            margin: 0 12px;
            height: 52px;
        }
    }
    &_form {
        padding-bottom: 70px;

        .reg__subheader {
            text-align: left;
            margin-bottom: 58px;
        }
    }
}


@media screen and (max-width: 767px) {
    .reg {
        padding-bottom: 50px;
    }
}

.reg_field {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    &-label {
        min-width: 175px;
        display: block;
        margin-right: 22px;
        font-size: 14px;
        color:#212529;
    }
    &-input {
        width: 100%;
        display: block;
        border:1px solid #DDE4EB;
        background: #F6F6FD;
        padding: 15px 50px 15px 24px;
        color:#212529;
        font-size: 14px;
        
        &::placeholder {
            color: #7F8FA4;
        }
        &.select-selected {
            color:#7F8FA4;
            &.active {
                color:#212529;
            }   
        }
    }
    &-organizations {
        display: none;
        &.active {
            display: flex;
        }
    }
    .policy_text {
        font-size: 14px;
        // line-height: 1;
        a {
            display: inline-block;
            font-weight: 700;
            color: #02517A;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .btn {
        width: 100%;
        max-width: 370px;
        height: 52px;
    } 
}

@media screen and (max-width: 767px) {
    .reg_field {
        flex-direction: column;
        align-items: flex-start;
        &-input {
            margin-top: 15px;
        }
        .custom-select {
            margin-top: 15px;
            .reg_field-input {
                margin-top: 0;
            }
        }
        .policy_text {
            font-size: 12px;
        }
    }
    .login_btn {
        margin-bottom: 100px;
    }
}