/*fonts*/
	@font-face {
		font-family: 'Graphik';
		src: url('../fonts/graphik/Graphik-Regular.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/graphik/Graphik-Regular.woff') format('woff'), /* Pretty Modern Browsers */
			 url('../fonts/graphik/Graphik-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
		font-weight: 400;
		
	}
	@font-face {
		font-family: 'Graphik';
		src: url('../fonts/graphik/Graphik-Bold.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/graphik/Graphik-Bold.woff') format('woff'), /* Pretty Modern Browsers */
			 url('../fonts/graphik/Graphik-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
		font-weight: 700;
		
	}

/*fonts*/