.footer {
    display: flex;
    justify-content: space-between;
    background: #F6F6FD;
    padding-top: 26px;
    padding-bottom: 27px;
    font-size: 12px;
    line-height: 2;
    margin-top: auto;
    color: #7F8FA4;

    a {
        color: #7F8FA4;
    }
    .social_list {
        display: flex;
        list-style: none;
        margin-bottom: 0px;
        margin-left: 10px;
        a {
            display: block;
            margin-left: 20px;
            &:hover {
                opacity: .7;
            }
        }
    }
    &__copyright {
        margin-right: 10px;
    }
    &__link {
        margin-right: 10px;
    }
    &__regulation {
        margin-right: 10px;
    }
    &__docs {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1250px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;    
        .social_list {
            display: none;
        }
    }
}