/*global*/
 	html {
 		scroll-behavior: smooth;
 	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		outline: none;

	}
	body {
		font-family: 'Graphik', sans-serif;
		background: #fbfbfb;
		color:#000;
		font-size: 16px;
	}
	button {
		cursor: pointer;
	}
	button, input, textarea {
		color: inherit;
		transition: 0.5s;
	}
	h1,h2,h3,h4,h5,h6,p {
		font-size: inherit;
	}
	a {
		transition: 0.5s;
		text-decoration: none;
	} 
	a:visited, a:focus {
		color: inherit;
	}
	address {
		font-style: normal;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	}
	input[type='number'] {
	    -moz-appearance: textfield;
	}
	.center {
		padding-left: calc(50vw - 595px);
		padding-right: calc(50vw - 595px);
	}
	.visually_hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
	}
	img,svg {
		display: block;
		max-width: 100%;
	}

	:root {
		--red:#ba2322;
	}
	.red {
		color:var(--red);
	}
/*global*/

// login
	.login_form {
		width: 100%;
		max-width: 440px;
		padding: 40px 20px 50px;
		background:#fff;
		box-shadow: 0px 5px 19.92px 4.08px rgba(0, 0, 0, 0.06);
		margin:0 auto;
		p {
			margin: 15px 0;
			padding-left: 90px;
		}
		.btn {
			margin-top: 43px;
		}
		&_wrap {
			padding-bottom: 40px;
		}
	}
	.input {
		border:1px solid rgb(204, 204, 204);
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 1px 6.51px 0.49px rgba(0, 0, 0, 0.06);
		padding:15px 20px;	
		width: 100%;
		&_wrap {
			display: flex;
			align-items: center;
		}
		&_label {
			min-width: 90px;
		}
	}
	.btn {
		display: block;
		text-align: center;
		padding: 10px;
		max-width: 210px;
		width: 100%;
		margin: 0 auto;
		border:2px solid transparent;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		font-weight: 700;
		&-red {
			background: var(--red);
			color: #fff;
			&:hover {
				background:#fff;
				border-color: var(--red);
				color: var(--red);
			}
		}
	}
		
// login

@media screen and (max-width: 1200px) {
	.center {
		padding-left: calc(50vw - 360px);
		padding-right: calc(50vw - 360px);
	}
}

@media screen and (max-width: 767px) {
	.center {
		padding-left: calc(50vw - 250px);
		padding-right: calc(50vw - 250px);
	}
}
@media screen and (max-width: 515px) {
	.center {
		padding-left: calc(50vw - 185px);
		padding-right: calc(50vw - 185px);
	}
}

@media screen and (max-width: 400px) {
	.center {
		padding-left: calc(50vw - 170px);
		padding-right: calc(50vw - 170px);
	}
	.input {
		padding: 10px;
		&_label {
			min-width: 75px;
		}
	}
	.login_form {
		padding: 25px 10px;
	}
}

@media screen and (max-width: 355px) {
	.center {
		padding-left: calc(50vw - 150px);
		padding-right: calc(50vw - 150px);
	}
}
