// @media screen and (max-width: 1200px) {
// }
// @media screen and (max-width: 767px) {
// }
// @media screen and (max-width: 515px) {
// }
// @media screen and (max-width: 400px) {
// }
// @media screen and (max-width: 355px) {
// }

/*global*/

 	html {
 		scroll-behavior: smooth;
 	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		outline: none;
	}
	body {
		font-family: 'Golos', sans-serif;
		background: #fff;
		color:#02517A;
		font-size: 16px;
	}
	button {
		cursor: pointer;
	}
	button, input, textarea {
		color: inherit;
		transition: 0.5s;
	}
	h1,h2,h3,h4,h5,h6,p {
		font-size: inherit;
	}
	a {
		transition: 0.5s;
		text-decoration: none;
	} 
	address {
		font-style: normal;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	}
	input[type='number'] {
	    -moz-appearance: textfield;
	}
	.center {
		padding-left: calc(50vw - 585px);
		padding-right: calc(50vw - 580px);
	}
	.visually_hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
	}
	img,svg {
		display: block;
		max-width: 100%;
	}
	svg {
		transition: .5s;
	}
	.btn {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		border-radius: 6px;
		border: none;
		font-size: 17px;
		font-weight: 700;
		&:hover {
			opacity: .7;
		}
		&--blue {
			background: #008DD2;
			color: #fff;
		}
		&--green {
			background: #98C22A;
			color: #fff;
		}
	}
	.section_heading {
		font-size: 38px;
	}
/*global*/
// slick
	.slick {
		&-arrow {
			display: block;
			width: 37px;
			height: 37px;
			color: transparent;
			font-size: 1px;
			overflow: hidden;
			border: none;
			z-index: 5;
			border: 1px solid transparent;
			border-radius: 6px;
			&.slick-prev {
				background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.755' height='12.682' viewBox='0 0 7.755 12.682'%3E%3Cpath id='Path_6600' data-name='Path 6600' d='M343.483,454.764l-5.634-5.634,5.634-5.634' transform='translate(-336.435 -442.789)' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='2'/%3E%3C/svg%3E%0A") center no-repeat  #02517A;
				left: 0;
			}
			&.slick-next {
				background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.755' height='12.682' viewBox='0 0 7.755 12.682'%3E%3Cpath id='Path_6599' data-name='Path 6599' d='M343.483,454.764l-5.634-5.634,5.634-5.634' transform='translate(344.19 455.471) rotate(180)' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='2'/%3E%3C/svg%3E%0A") center no-repeat  #02517A;
				right: 0;
			}
			&:hover {
				border-color: #909EBB;
				&.slick-prev {
					background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.755' height='12.682' viewBox='0 0 7.755 12.682'%3E%3Cpath id='Path_6600' data-name='Path 6600' d='M343.483,454.764l-5.634-5.634,5.634-5.634' transform='translate(-336.435 -442.789)' fill='none' stroke='%23909EBB' stroke-miterlimit='10' stroke-width='2'/%3E%3C/svg%3E%0A") center no-repeat;
				}
				&.slick-next {
					background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.755' height='12.682' viewBox='0 0 7.755 12.682'%3E%3Cpath id='Path_6599' data-name='Path 6599' d='M343.483,454.764l-5.634-5.634,5.634-5.634' transform='translate(344.19 455.471) rotate(180)' fill='none' stroke='%23909EBB' stroke-miterlimit='10' stroke-width='2'/%3E%3C/svg%3E%0A") center no-repeat;
				}
			}
		}
		&-dots {
			display: flex;
			justify-content: center;
			list-style: none;
			button {
				background: transparent;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				border: 1px solid #7F8FA4;
				display: block;
				font-size: 1px;
				color: transparent;
				margin: 0 3px;
			}
			.slick-active {
				button {
					background: #7F8FA4;
				}
			}
		}
	}
// slick

@media screen and (max-width: 1250px) {
	.center {
		padding-left: calc(50vw - 360px);
		padding-right: calc(50vw - 360px);
	}
	body, html {
		// overflow-x: hidden;
	}
}

@media screen and (max-width: 767px) {
	.center {
		padding-left: calc(50vw - 250px);
		padding-right: calc(50vw - 250px);
	}
	.section_heading {
		font-size: 22px;
	}
}
@media screen and (max-width: 515px) {
	.center {
		padding-left: calc(50vw - 175px);
		padding-right: calc(50vw - 175px);
	}
}

@media screen and (max-width: 400px) {
	.center {
		padding-left: calc(50vw - 170px);
		padding-right: calc(50vw - 170px);
	}
}

@media screen and (max-width: 355px) {
	.center {
		padding-left: calc(50vw - 150px);
		padding-right: calc(50vw - 150px);
	}
}
