
.offer {
    background-size: cover;
    padding-top: 322px;
    padding-bottom: 76px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    overflow: hidden;
    &__main {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 35px;
        .btn {
            padding: 0 33px;
            height: 52px;
            display: flex;
            font-size: 20px;
            margin-right: 24px;
        }
    }
    &__heading {
        font-size: 60px;
        font-weight: 700;
        line-height: 1.26;
        margin: 0 0 22px;
        width: 100%;
        z-index: 150;
        position: relative;
        &--big {
            font-size: 60px;
        }
        &:only-child {
            margin-bottom: 0;
        }
        &--login {
            text-align: center;
            max-width: 100%;
            font-size: 38px;
        }
        &--reg {
            font-size: 38px;
        }
        &--cabinet {
            font-size: 38px;
        }
    }
    &__date {
        font-size: 20px;
        margin-bottom: 58px;
        display: block;
        width: 100%;
        font-weight: 700;
        color: #008DD2;
    }
    &__countdown {
        width: 100%;
        max-width: 390px;
        &_heading {
            font-size: 20px;
            color: #008DD2;
            padding-left: 24px;
            margin-bottom: 35px;
        }
        &_container {
            display: flex;
            position: relative;
            border-radius: 6px 0 0 6px;
            padding: 11px 24px 16px;
            
            &:before {
                content: '';
                display: block;
                width: 100vw;
                height: 100%;
                left: 0;
                box-shadow: 0 1px 4px #DDE4EB;
                background: #F6F6FD;
                top: 50%;
                transform: translate(0,-50%);
                position: absolute;
            }
        }
        &_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 20px;
            position: relative;
            &:first-of-type {
                margin-right: 35px;
                &:before,
                &:after {
                    display: none;
                }
            }
            &:last-of-type {
                &:before,
                &:after {
                    display: none;
                }
            }

            &:before,&:after {
                content: ':';
                display: block;
                color:#DDE4EB;
                font-size: 48px;
                position: absolute;
                top: 0;
                left: 100%;
                font-weight: 400;
                transform: translate(20%,15px);
            }

        }
        &_value {
            font-size: 48px;
            color:#87AB15;
            margin-bottom: 5px;
            min-width: 60px;
        }
        &_label {
            font-size: 10px;
            color:#7F8FA4;
        }
    }
    &__desc {
        font-size: 20px;
        line-height: 1.5;
        color: #008DD2;
        margin-bottom: 58px;
    }   
    &__subheading {
        color:#008DD2;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 30px;
        width: 100%;
        &:last-of-type {
            margin-bottom: 0;
        }
        &--green {
            color:#87AB15;
        }
    }
    &__info_text {
        font-size: 20px;
        line-height: 1.5;
        color: #212529;
    }
    &--fullpage {
        align-items: flex-start;
        min-height:calc(100vh - 101px);
    }
    &__text {
        font-size: 16px;
        line-height: 2;
        color:#212529;   
    }
    &--start {
        align-items: flex-start;
        min-height:calc(100vh - 101px);
        .offer__countdown {
            padding-top: 150px;
        }
    }
    &--inner {
        align-items: flex-start;
    }
    &--login {
        align-items: flex-start;
        padding-top: 371px;
        padding-bottom: 21px;
        background-position: 50% 50%;
        .content {
            width: 100%;
        }
    }
    &--info {
        padding-top: 420px;
        padding-bottom: 20px;
        .content {
            width: 100%;
        }
    }
    &--offline {
        padding-bottom: 37px;
        .content {
            width: 100%;
        }
    }
    
    .content--404,
    .content--start {
        .btn {
            max-width: 370px;
            height: 52px;
            display: flex;
        }
    }
    
    .content--over {
        .btn {
            max-width: 370px;
            height: 52px;
            display: flex;
        }
        p {
            margin-bottom: 1.5em;
        }
        h6 {
            font-size: 20px;
            line-height: 1.6;
            color: #87AB15;
            font-weight: 700;
            margin-bottom: 27px;
            display: block;
        }
        .social_list {
            display: flex;
            list-style: none;
            margin-bottom: 40px;
            a {
                display: block;
                margin-right: 20px;
                &:hover {
                    opacity: .7;
                }
            }
        }
    }
    .content--reg-finish {
        svg {
            margin: 0 auto 40px;
        }
    }
    .mobile_btns {
        display: none;
        margin-bottom: 36px;
    }
    &__cert-description {
        width: 100%;
        color: #212529;
        font-size: 18px;
        line-height: 28px;
        font-weight: normal;
        .p--blue {
            color: #008DD2;
            font-weight: bold;
        }
        .p--green {
            color: #98C22A;
            font-weight: bold;
            margin-top: 28px;
        }
    }
}


@media screen and (max-width: 800px) {
    .offer {
        &__main {
            .btn {
                font-size: 19px;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .offer {
        .content--reg-finish {
            svg {
                margin-top: 60px;
            }
        }
        .content--reg-finish {
            br {
                display: none;
            }
            h1 {
                font-size: 24px;
            }
        }
        &__cert-description {
            font-size: 14px;
            line-height: 24px;
        }
    }        
}

@media screen and (min-width: 2000px) {
    .offer {
        background-size: auto;
        background-position: center 65%;
        // background-position: -100% center;
    }        
}

.faces {
    background: #F6F6FD;
    position: relative;
    .section_heading {
        position: absolute;
        top: 45px;
        width: 100%;
        padding-left: 535px;
        z-index: 75;
    } 
    &__slider {
        .slick {
            &-arrow {
                position: absolute;
                top: 188px;
                &.slick-prev {
                    border-radius: 0 6px 6px 0;
                }
                &.slick-next {
                    border-radius: 6px 0 0 6px ;
                }
            }
            &-dots {
                justify-content: flex-start;
                padding-left: 535px;
                position: absolute;
                left: 0;
                bottom: 51px;
            }
        }
    }
    &__item {
        display: flex !important;
    }
    &__text {
        margin-left: 25px;
        max-width: 525px;
        display: flex;
        flex-direction: column;
        padding-top: 126px;
        padding-bottom: 128px;
    }
    &__name {
        color: #87AB15;
        font-size: 38px;
        font-weight: 400;
        margin-bottom: 26px;
    }
    &__profession {
        color:#02517A;
        font-size: 20px;
        font-weight: 700;
        line-height: 2;
    }
    &__desc {
        font-size: 16px;
        line-height: 2;
        color:#212529;
    }
    &__blockquote {
        display: block;
        margin-top: auto;
    }
}
@media screen and (min-width: 2230px){
    .faces {
        &__item {
            padding-left: calc(50vw - 585px);
            position: relative;
        }
        .section_heading {
            padding-left: calc(50vw - 585px);
        }
        &__text {
            margin-left: 0;
        }
        &__img {
            position: absolute;
            bottom:0;
            left: 0;
        }
        .slick-dots {
            padding-left: calc(50vw - 585px);
        }
    }
}

.partners {
    padding-top: 54px;
    padding-bottom: 0px;
    // background: url('../img/3.jpg') center no-repeat;
    // background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__container {

        &--general {
            // margin-left: 80px;
            width: 40%;
            .partners__logo {
                max-width: 45%;
            }
        }
        &--official {
            width: 100%;
            margin-top: 50px;
            .partners__wrap {
                width: 100%;
                margin-bottom: 80px;
                .partners__logo {
                    margin-right: 0;
                    justify-content: space-between;
                    min-height: 90px;
                    display: flex !important;
                    align-items: center;
                }
            }
            .partners__header {
                margin-bottom: 68px;
            }
            .slick-arrow {
                position: absolute;
                top: -100px;
                
                &.slick-next {
                    right: 0;
                }
                &.slick-prev {
                    right: 45px;
                    left: auto;
                }

            } 
        }
        &--info {
            width: 100%;
            .partners__wrap {
                width: 100%;
                margin-bottom: 80px;
                .partners__logo {
                    margin-right: 20px;
                    max-width: 100%;
                    justify-content: center;
                    display: flex !important;
                    align-items: center;
                    min-height: 90px;
                    img {
                        max-width: 180px;
                    }
                }
            }
            .partners__header {
                margin-bottom: 50px;
            }
            .slick-arrow {
                position: absolute;
                top: -100px;
                
                &.slick-next {
                    right: 0;
                }
                &.slick-prev {
                    right: 45px;
                    left: auto;
                }

            } 
        }
        &--participants {
            width: 100%;
            .partners__wrap {
                width: 100%;
                margin-bottom: 80px;
                .partners__logo {
                    margin-right: 0;
                    max-width: 100%;
                    justify-content: space-between;
                    padding: 0 13px;
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #F6F6FD;
                        border-radius: 6px;
                        min-height: 100px;
                    }
                }
            }
            .partners__header {
                margin-bottom: 50px;
            }
        }
        &--organizators {
            width: 55%;
        }
    }

    
    &__header {
        font-size: 20px;
        color: #02517A;
        font-weight: 400;
        margin-bottom: 75px;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 89px;

    }
    &__logo {
        width: 100%;
        // max-width: 120px;
        margin-right: 40px;
        a {
            display: block;
            min-width: 40px;
        }
        img {
            min-width: 40px;
            width: auto;
            margin: 0 auto;
        }
        &:last-of-type {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 1500px) {
    .partners__logo {
        // max-width: 120px;
        max-height: 60px;
        img {
            max-height: 100%;
        }
        a {
            height: 100%;
        }
    }
    .partners__container--info .partners__wrap .partners__logo {
        // max-width: 120px;
        max-width: 180px;

    }
}

.committee {
    background: #F6F6FD;
    padding-top: 45px;
    padding-bottom: 60px;
    .section_heading {
        margin-bottom: 54px;
        padding-right: 100px;
    }
    &__slider {
        position: relative;
        .slick-arrow {
            border-radius: 6px !important;
            position: absolute;
            top: -90px;
            right: 0;
            left: auto;
            &.slick-prev {
                right: 43px;
            }
        }
    }
    &__member {
        display: flex !important;
        margin-right: 25px;
    }
    &__text {
        // max-width: 174px;
        max-width: 250px;
        margin-left: 25px;
    }
    &__name {
        position: relative;
        font-size: 20px;
        color:#87AB15;
        text-transform: uppercase;
        padding-bottom: 21px;
        margin-bottom: 20px;
        line-height: 1.5;
        display: block;
        &:before {
            content: '';
            width: 44px;
            height: 2px;
            background: #7F8FA4;
            border-radius: 1px;
            position: absolute;
            left: 0;
            bottom:0%;
            display: block;
        }
        small {
            display: block;
            text-transform: none;
            font-size: 14px;
        }
    }
    &__about {
        font-size: 12px;
        color:#212529;
        line-height: 1.66;
    }
}
@media screen and (max-width: 1500px) {
    .committee__text {
        max-width: 175px;
    }
}
.support {
    padding-top: 60px;
    padding-bottom: 66px;
    &__heading {
        font-size: 20px;
        color:#02517A;
        margin-bottom: 64px;
        font-weight: 400;
    }
    &__slider {
        position: relative;
        .slick-arrow {
            position: absolute;
            top: -90px;
            left: auto;
            right: 0;
            &.slick-prev {
                right: 43px;
            }
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 24px;
        background: #F6F6FD;
        border-radius: 6px;
        margin-right: 35px;
        width: 172px;
        height: 172px;
    }
    &__logo {
        margin-bottom: 20px;
        display: block;
        img {
            margin: auto;
        }
    }
    &__name {
        text-align: center;
        color: #212529;
        font-size: 12px;
        line-height: 1.5;
    }
}

.promo {
    .slick-arrow {
        position: absolute;
        top:50%;
        transform: translate(0,-50%);    
        &.slick-prev {
            left: 0px;
            border-radius:0 6px 6px 0;
        }
        &.slick-next {
            right: 0px;
            border-radius:6px 0 0 6px ;
        }
    }
    &__item {
        padding-top: 45px;
        padding-bottom: 45px;
        position: relative;
        overflow: hidden;
        display: block;
        min-height: 250px;
        &-logo {
            margin-bottom: 46px;
            display: block;
        }
        &-text {
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 39px;
            color: #008C95;
            max-width: 580px;
        }
        &-img {
            position: absolute;
            top:0px;
            right: 0;
            display: block;
            max-width: calc(100% - 600px);
        }
        &-partner {
            position: absolute;
            display: block;
            right: 17px;
            bottom: 23px;
        }
    }
    &__item2 {
        position: relative;
        background: url('../img/bnr2-bg.jpg') center no-repeat;
        background-size: cover;
        display: flex !important;
        align-items: center;
        justify-content: center;
        min-height: 250px;
        &:before {
            content:'';
            display: block;
            width: 250px;
            height: 250px;
            position: absolute;
            top:0;
            left:0;
            background: url('../img/bnr2-decor-1.png') top left no-repeat;
        }
        &:after {
            content:'';
            display: block;
            width: 250px;
            height: 250px;
            position: absolute;
            bottom:0;
            right: 0;
            background: url('../img/bnr2-decor-2.png') bottom right no-repeat;
        }

    }
    &__item3 {

        display: flex !important;
        min-height: 250px;
        align-items: center;
        justify-content: space-between;
        background-color: #2574a1;
        &-text {
            padding: 15px 0px;
            margin: 0 auto;
            color: #ffffff;
            text-transform: uppercase;
            text-align: center;
            max-width: 1050px;
            width: 100%;
        }
        &-logo {
            max-width: 390px;
            display: block;
        }
        &-content {
            font-size: 28px;
        }
        &-heading {
            margin-bottom: 30px;
            font-size: 38px;
           
        }
    }
    &__item4 {
        min-height: 250px;
        background: url('../img/bnr4-bg.jpg') center no-repeat;
        background-size: cover;
        display: flex !important;
        align-items: flex-end;
        justify-content: center;
    }
}

@media screen and (max-width: 1250px) {
    .promo {
        &__item3 {
            &-logo {
                max-width: 320px;
            }
            &-content {
                font-size: 20px;
            }
            &-heading {
                margin-bottom: 20px;
                font-size: 30px;
               
            }
        }
    }
}

.organizations {
    background: #F6F6FD;
    padding-top: 50px;
    padding-bottom: 65px;
    .section_heading {
        margin-bottom: 52px;
    }
    &__container {
        display: flex;
        align-items: center;
    }
    &__text {
        margin-right: 26px;
        color:#87AB15;
        font-size: 18px;
        line-height: 1.66;
        font-weight: 700;
        max-width: 480px;
        width: 100%;
    }
    &__slider {
        max-width: 750px;
        position: relative;
        .slick-arrow {
            position: absolute;
            top: -90px;
            left: auto;
            right: 0;
            &.slick-prev {
                right: 43px;
            }
        }
    }
    &__logo {
        display: flex !important;
        align-items: center;
        justify-content: center;
        background: #fff;
        width: 172px;
        height: 100px;
        // margin-right: 20px;
        margin-right: 20px;
        border-radius: 6px;
        a {
            padding: 20px;
        }
    }
}

@media screen and (min-width: 1500px) {
    .organizations {
        &__slider {
            max-width: 940px;
            .slick-arrow {
                top: -125px;
            }
        }
        &__logo {
            margin-right: 22px;
        }
    }
        
}

.reg_info {
    padding-top: 50px;
    padding-bottom: 65px;
    // background: url('../img/4.jpg') center no-repeat;
    background: #02517A;
    // background-size: cover;
    &__heading {
        font-size: 38px;
        color: #fff;
        line-height: 1.57;
        margin-bottom: 58px;
    }
    &__item {
        background: url('../img/tree_icon.png') center right no-repeat #fff;
        padding: 26px 36px 36px;
        margin-bottom: 25px;
        border-radius: 6px;
        &_heading {
            font-size: 20px;
            font-weight: 700;
            line-height: 1.6;
        }
        &_desc {
            font-size: 16px;
            line-height: 2;
            margin-bottom: 31px;
        }
        .btn {
            width: 100%;
            max-width: 370px;
            height: 52px;
        }
        &--online {
            .reg_info__item_heading {
                color: #87AB15;
            }
        }
        &--offline {
            margin-bottom: 0;
            .reg_info__item_heading {
                color: #02517A;
            }
        }
    }
}

.contacts {
    padding-top: 50px;
    padding-bottom: 186px;
    background: url('../img/2.jpg') center bottom no-repeat;
    .section_heading {
        margin-bottom: 50px;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 27px;
        &_heading {
            font-size: 20px;
            // color:#87AB15;
            margin-bottom: 29px;
        }
        &_link {
            font-size: 38px;
            font-weight: 700;
            // padding-left: 75px;
            color:#02517A;
            position: relative;
            &:hover {
                text-decoration: underline;
            }
            &:before {
                content: '';
                display: block;
                width: 38px;
                height: 38px;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='37.997' viewBox='0 0 38 37.997'%3E%3Cg id='_684813' data-name='684813' transform='translate(-0.002 -0.02)'%3E%3Cg id='Group_5974' data-name='Group 5974' transform='translate(0.002 2.033)'%3E%3Cg id='Group_5973' data-name='Group 5973' transform='translate(0 0)'%3E%3Cpath id='Path_6498' data-name='Path 6498' d='M35.178,53.309l-4.7-4.865-.013-.014a3.338,3.338,0,0,0-4.723,0l-2.147,2.147a2.528,2.528,0,0,1-3.578,0h0l-7.466-7.289a2.529,2.529,0,0,1,0-3.578l2.147-2.147a3.343,3.343,0,0,0,0-4.723L9.972,28.115a3.344,3.344,0,0,0-4.723,0L3.675,29.69l-.143.143a12.036,12.036,0,0,0,0,17.032l12.9,12.728a12.035,12.035,0,0,0,17.014.017c.026-.024,1.694-1.561,1.719-1.585A3.344,3.344,0,0,0,35.178,53.309ZM6.823,29.69a1.114,1.114,0,0,1,1.574,0l4.723,4.723a1.113,1.113,0,0,1,0,1.574l-.787.787-6.3-6.3ZM18.011,58.018,5.106,45.289a9.81,9.81,0,0,1-.614-13.209l6.275,6.275a4.762,4.762,0,0,0,.208,6.506l7.467,7.291a4.752,4.752,0,0,0,6.5.206l6.275,6.275A9.786,9.786,0,0,1,18.011,58.018Zm15.6-1.582-.748.689-6.335-6.335L27.314,50A1.112,1.112,0,0,1,28.883,50L33.6,54.875A1.115,1.115,0,0,1,33.61,56.436Z' transform='translate(-0.002 -27.139)' fill='%237f8fa4'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_5976' data-name='Group 5976' transform='translate(17.964 0.02)'%3E%3Cg id='Group_5975' data-name='Group 5975' transform='translate(0 0)'%3E%3Cpath id='Path_6499' data-name='Path 6499' d='M243.134.02a1.113,1.113,0,0,0,0,2.226,16.717,16.717,0,0,1,16.7,16.7,1.113,1.113,0,0,0,2.227,0A18.914,18.914,0,0,0,243.134.02Z' transform='translate(-242.021 -0.02)' fill='%237f8fa4'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_5978' data-name='Group 5978' transform='translate(17.964 4.473)'%3E%3Cg id='Group_5977' data-name='Group 5977'%3E%3Cpath id='Path_6500' data-name='Path 6500' d='M243.134,60.015a1.113,1.113,0,0,0,0,2.226,12.259,12.259,0,0,1,12.245,12.245,1.113,1.113,0,1,0,2.226,0A14.488,14.488,0,0,0,243.134,60.015Z' transform='translate(-242.021 -60.015)' fill='%237f8fa4'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_5980' data-name='Group 5980' transform='translate(17.964 8.926)'%3E%3Cg id='Group_5979' data-name='Group 5979'%3E%3Cpath id='Path_6501' data-name='Path 6501' d='M243.134,120.011a1.113,1.113,0,0,0,0,2.226,7.8,7.8,0,0,1,7.792,7.792,1.113,1.113,0,0,0,2.227,0A10.03,10.03,0,0,0,243.134,120.011Z' transform='translate(-242.021 -120.011)' fill='%237f8fa4'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_5982' data-name='Group 5982' transform='translate(17.964 13.378)'%3E%3Cg id='Group_5981' data-name='Group 5981'%3E%3Cpath id='Path_6502' data-name='Path 6502' d='M243.134,180.006a1.113,1.113,0,0,0,0,2.226,3.344,3.344,0,0,1,3.34,3.34,1.113,1.113,0,0,0,2.226,0A5.572,5.572,0,0,0,243.134,180.006Z' transform='translate(-242.021 -180.006)' fill='%237f8fa4'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") center no-repeat;
                position: absolute;
                top:50%;
                left: 0;
                transform: translate(0,-50%);
            }
        }
        
    }
    &__mail {
        // padding-left: 75px;
        font-size: 20px;
        line-height: 1.6;
        color:#87AB15;
        font-weight: 700;
        margin-bottom: 27px;
        display: block;
        &:hover {
            text-decoration: underline;
        }
    }
    .social_list {
        display: flex;
        // padding-left: 75px;
        list-style: none;
        margin-bottom: 20px;
        a {
            display: block;
            margin-right: 20px;
            &:hover {
                opacity: .7;
            }
        }
    }
    &__region_heading {
        font-size: 16px;
        line-height: 2;
        margin-bottom: 39px;
    }
    .btn {
        width: 100%;
        max-width: 370px;
        height: 52px;
    }
}

@media screen and (min-width: 1500px) {
    .offer {
        &__heading {
            font-size: 60px;
            &--big {
                font-size: 75px;
            }
            &--login {
                font-size: 48px;
            }
            &--reg {
                font-size: 48px;
            }
            &--cabinet {
                font-size: 48px;
            }
        }
        &__date {
            font-size: 25px;
        }
        &__countdown {
            max-width: 490px;
            &_heading {
                font-size: 25px;
            }
            &_value {
                font-size: 60px;
            }
            &_label {
                font-size: 12px;
            }
        }
    }
    .organizations{
        &__text {
            font-size: 23px;
        }
    }
    .reg_info__item {
        &_heading {
            font-size: 25px;
        }
        &_desc {
            font-size: 20px;
        }
    }
    .committee__slider .slick-arrow {
        top: -100px;
    }
}

@media screen and (max-width: 1250px) {
    .offer {
        background-position:55% 50%;
        padding-top: 308px;
        flex-direction: column;
        
        
        &--start {
            background-position: 50% -175px;
            background-size: auto;
            min-height: calc(100vh - 149px);
            .offer__countdown {
                padding-top: 20px;
            }
        } 
        &--start {
            align-items: flex-start;
        }
        &--pass {
            align-items: flex-start;
            justify-content: flex-start;
            padding-bottom: 20px;
        }
        &__countdown {
            max-width: 100%;
        }
    }
    .faces {
        .section_heading {
            padding-left: 32px;
        }
        // &__item {
            // flex-direction: column-reverse;
            // padding-bottom: 0;
        // }
        &__text {
            padding-bottom: 0;
            margin-bottom: auto;
            // margin-bottom: -100px;
            min-height: 470px;
        }
        &__img {
            // margin-top: auto;
            align-self: flex-start;
            margin-top: auto;
        }
        &__desc {
            margin-bottom: 40px;
        }
        &__slider {
            .slick-arrow {
                top: 50px;
                z-index: 77;
                &.slick-next {
                    border-radius: 6px;
                    right: 15px;
                }
                &.slick-prev {
                    left: auto;
                    right: 60px;
                    border-radius: 6px;
                }
            }
            .slick-dots {
                display: none;
                opacity: 0;
                pointer-events: none;
            }
        }
    }
    .partners {
        &__logo {
            margin: 0 20px !important;
            max-width: unset !important;
            max-height: unset !important;

            a {
                display: block;
                min-width: unset;
            }
            img {
                min-width: 40px;
                margin: 0 auto;
            }
        }
        &__container {
            max-width: 100%;
            width: 100%;
            &--general {
                max-width: 48%;
                margin-left: 0;
                .partners__logo {
                    width: auto;
                    max-width: unset;
                    max-height: unset !important;
                    img {
                        margin: 0 auto;
                    }
                }
                .partners__wrap .slick-arrow {
                    top: -65px;
                }
                .partners__wrap .slick-track {
                    align-items: flex-end;
                }
            }
            &--organizators {
                max-width: 48%;
                .partners__wrap .slick-arrow {
                    top: -65px;
                }
            }
            &--official {
                .partners__wrap .slick-arrow {
                    top: -100px;
                }
            }
            &--participants {
                .partners__logo {
                    padding: 0;
                    margin: 0 !important;
                }
            }
        }
        &__header {
            margin-bottom: 35px;
        }
        &__wrap {
            margin-bottom: 43px;
            position: relative;
            justify-content: space-between;
            max-width: 100%;
            .slick {
                &-arrow {
                    position: absolute;
                    top: -80px;
                    left: auto;
                    &.slick-prev {
                        right: 43px;
                    }
                    &.slick-next {
                        right: 0;
                    }
                }
                &-track {
                    display: flex !important;
                    align-items: center;
                }
            }
        }
        
    }       
    .organizations {
        &__container {
            flex-direction: column;
            align-items: flex-start;
        }
        &__text {
            margin-bottom: 48px;
        }
        &__slider {
            max-width: 100%;
            .slick-arrow {
                top: -250px;
            }
        }
    }   
    .contacts {
        &__wrap {
            // margin-bottom: 0;
            flex-direction: column;
            
        }
        &__item {
            margin-bottom: 20px;
        }
    }
    .promo {
        &__item {
            padding-top: 40px;
            padding-bottom: 40px;
           min-height: 250px;
            &-text {
                font-size: 30px;
                color: #008C95;
                max-width: 350px;
            }
            &-img {
                max-width: calc(100% - 250px);
            }
        }
    }
    
}


@media screen and (max-width: 1250px) {
    .committee__slider .slick-arrow {
        top: -125px;
    }
}

@media screen and (max-width: 767px) {
    .offer {
        background-position:60% 0px;
        background-size: 1700px;
        padding-top: 258px;
        &__date {
            margin-bottom: 20px;
        }
        &__main {
            padding-bottom: 0;
            .btn {
                display: none;
            }
        }
        .btn {
            width: 100%;
            margin-bottom: 20px;
        }
        &__desc {
            font-size: 15px;
            margin-bottom: 42px;
            br {
                display: none;
            }
        }
        &--fullpage {
            min-height: calc(100vh - 149px);
            padding-top: 375px;
            padding-bottom: 100px;
        }
        &--start {
            .offer {
                &__countdown_heading {
                    display: none;
                }
                &__desc {
                    max-width: 280px;
                    br {
                        display: block;
                    }
                }
            }
                
        }
        &--thanks {
            padding-top: 300px;
        }
        &__countdown {
            &_container {
                padding-left: 0;
                &:before {
                    left: 50%;
                    transform: translate(-50%,-50%);
                    border-radius: 0;
                }
            }
            &_heading {
                padding-left: 0;
                font-size: 16px;
            }
        }
        &__subheading {
            font-size: 16px;
            br {
                display: none;
            }
        }
        &__info_text {
            font-size: 16px;
        }
        .mobile_btns {
            display:block;
            width: 100%;
            margin-top: 37px;
            .btn {
                width: 100%;
                border-radius: 6px;
                height: 52px;
                font-size: 18px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &__heading {
            font-size: 29px;
        }
    }
    .faces {
        &__text {
            padding-top: 100px;
            padding-right:  calc(50vw - 250px);
            padding-left:  calc(50vw - 250px);
            min-height: 410px;
            margin-left: 0;
        }
        &__desc {
            margin-bottom: 20px;
            font-size: 14px;
        }
        &__img {
            max-width: 300px;
            margin-top: -50px;
        }
        &__name {
            font-size: 22px;
            margin-bottom: 25px;
        }
        &__profession {
            font-size: 16px;
        }
        &__item {
            flex-direction: column-reverse;
            padding-bottom: 0;
        }
        .section_heading {
            padding-right:  calc(50vw - 250px);
            padding-left:  calc(50vw - 250px);
            width: 100%;
        }
        &__slider .slick-arrow {
            top: 35px;
            &.slick-next {
                right: calc(50vw - 250px);
            }
            &.slick-prev {
                right: calc(50vw - 250px + 50px);
            }
        } 
    }

    .partners__container {
        &--general {
            max-width: 100%;
            .partners__logo {
                width: 100%;
                max-width: 45%;
                img {
                    min-width: 120px;
                }
            }
        } 
            
        &--organizators {
            width: 100%;
            max-width: 100%;

            .slick-slider .slick-arrow {
                top: -60px;
            }
        }
        &--official {
            .slick-slider .slick-arrow {
                top: -95px;
            }
        }
        &--info {
            .partners__header {
                font-size: 18px;
            }
        }
        
    }
    .partners__logo {
        max-width: unset;
        a {
            display: block;
            min-width: 40px;
        }
        img {
            min-width: 40px;
            width: auto;
        }
    }
    .committee {
        padding-bottom: 50px;
        &__member {
            margin-right: 0;
        }
        &__photo {
            min-width: 165px;
        }
        &__text {
            max-width: 156px;
        }
        &__about {
            font-size: 10px;
        }
        &__name {
            font-size: 18px;
        }
        &__slider .slick-arrow {
            top: -100px;
        }
    }
    .organizations {
        .section_heading {
            padding-right: 100px;
            margin-bottom: 40px;
        }
        &__slider {
            .slick-arrow {
                top: -235px;
            }
        } 
        &__text {
            font-size: 16px;
            max-width: 330px;
        }
        &__logo {
            padding: 10px;
        }
    }
    .reg_info {
        &__heading {
            font-size: 22px;
        }
        &__item {
            padding: 26px 16px 36px;
            background: #fff;
            &_heading {
                max-width: 250px;
            }
        }
    }
    .contacts {
        background-position:50% 100% ;
        background-size: contain;
        padding-bottom: 140px;
        &__wrap {
            &_heading {
                font-size: 18px;
                line-height: 1.77;
            }
            &_link {
                font-size: 30px;
            }
        }
        &__mail {
            font-size: 18px;
        }
    }
    .promo {

        &__item {
            min-height: 250px;
            display: flex;
            padding-top: 20px;
            padding-bottom: 85px;
                &-text {
                    font-size: 28px;
                    color: #008C95;
                    margin-bottom: 0px;
                    max-width: 350px;
                }
                &-img {
                    // max-width: 100%;
                    order: -1;
                    margin-bottom: 0px;
                }
                &-logo {
                    margin-bottom: 20px;
                }
            }
        
        &__item2 {
            align-items: center;
            &:before,
            &:after {
                display: none;
            }
        }
        &__item3 {
            flex-direction: column;
            align-items: center;
            &-content {
                font-size: 16px;
            }
            &-heading {
                margin-bottom: 20px;
                font-size: 24px;
            }
            &-logo {
                max-width: 150px;
            }
            &-content {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 515px) {
    .faces {
        &__text {
            padding-left: calc(50vw - 175px);
		padding-right: calc(50vw - 175px);
        }
        &__slider .slick-arrow {
            &.slick-next {
                right: calc(50vw - 175px);
            }
            &.slick-prev {
                right: calc(50vw - 175px + 50px);
            }
        }
        .section_heading {
            padding-right:  calc(50vw - 175px);
            padding-left:  calc(50vw - 175px);
        }
    }
    .support__item {
        margin-right: 15px;
    }
}
@media screen and (max-width: 400px) {
    .faces {
        &__text {
            padding-left: calc(50vw - 170px);
		padding-right: calc(50vw - 170px);
        }
        &__slider .slick-arrow {
            &.slick-next {
                right: calc(50vw - 170px);
            }
            &.slick-prev {
                right: calc(50vw - 170px + 50px);
            }
        }
        .section_heading {
            padding-right:  calc(50vw - 170px);
            padding-left:  calc(50vw - 170px);
        }
    }
}
@media screen and (max-width: 355px) {
    .faces {
        &__text {
            padding-left: calc(50vw - 150px);
		padding-right: calc(50vw - 150px);
        }
        &__slider .slick-arrow {
            &.slick-next {
                right: calc(50vw - 150px);
            }
            &.slick-prev {
                right: calc(50vw - 150px + 50px);
            }
        }
        .section_heading {
            padding-right:  calc(50vw - 150px);
            padding-left:  calc(50vw - 150px);
        }
    }
}