.map {
    padding-bottom: 50px;
    &__svg {
        margin: 100px auto 50px;
        max-width: 1400px;
        width: 100%;
        position: relative;

        svg {
            position: absolute;
            top: 0;
            left:49.5%;
            transform: translate(-50%,0);
            width: 100%;
            height: 100%;
            // max-width: 1400px;

            .st1{
                fill: transparent;
                transition: .5s;
                stroke: none;
                cursor: pointer;
                &[data-region=""]{
                    fill: red;
                }
                &[id='29'] {
                    position: relative;z-index: 5;
                }
                &:hover {
                    fill: #1E3685;
                }
                &.active {
                    fill: #1E3685;
                }
            }

        }

    }
    &__sort {
        display: flex;
        &-results {
            margin-right: auto;
        }

        &_dropdown {
            display: none;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%,0);
            z-index: 96;
            background: #fff;
            border-radius:3px;
            box-shadow: 0 5px 10px rgba($color: #7F8FA4, $alpha: .15);
            padding: 22px;
            min-width: 174px;
            width: 100%;
            max-width: 310px;
            &.map__sort_dropdown--active {
                display: block;
            }
        }
        &_item {
            display: block;
            width: 100%;
            background:none;
            border: none;
            font-size: 14px;
            text-align: left;
            margin-bottom: 20px;
            color:#212529;
            &:last-of-type {
                margin-bottom: 0;
            }
            &:hover {
                color:#02517A;
            }
        }
        &_toggler {
            border: none;
            background: none;
            display: flex;
            align-items: center;
            color:#02517A;
            margin-left: 5px;
            svg {
                margin-left: 10px;
                pointer-events: none;
            }
            &:hover {
                text-decoration: underline;
            }
        }
        &_wrap {
            display: flex;
            margin-left: 37px;
            color: #7F8FA4;
            position: relative;
        }
    }
}

.places {
    background: #F6F6FD;
    padding-top: 25px;
    padding-bottom: 50px;

    &__item {
        background: #fff;
        position: relative;
        box-shadow: 0 10px 20px #E6F1F9;
        border-radius: 10px;
        margin-bottom: 25px;
        &-header {
            padding: 13px 150px 19px 30px;
            border-bottom: 1px solid #CED9F0;
            font-size: 20px;
            color:#7F8FA4;
        }
        &-address,
        &-time {
            font-weight: 700;
        }
        &-address {
            color:#02517A;
        }
        &-type {
            display: flex;
            align-items: center;
            justify-content: center;
            color:#fff;
            width: 89px;
            height: 32px;
            font-size: 12px;
            font-weight: 700;
            position: absolute;
            top: 25px;
            right: 32px;
            border-radius: 4px;
            &--green {
                background: #98C22A;
            }
            &--gray {
                background: #7F8FA4;
            }
        }
    }
    &__info {
        &-toggler {
            display: none;
        }
        &-wrap {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 20px 30px;
            color: #212529;
            font-size: 14px;
            line-height: 2.2;
        }
        &-item {
            &:nth-of-type(1){
                width: 32%;
            }
            &:nth-of-type(2){
                width: 33%;
            }
            &:nth-of-type(3){
                width: 26%;
            }
        }
    }
    &__download {
        padding: 19px 32px;
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 10px 20px #E6F1F9;
        &-name {
            font-size: 20px;
            color: #02517A;
            line-height: 1.3;
        }
        .btn {
            padding: 5px 18px 9px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .map__sort {
        padding-bottom: 50px;
        display: block;
        &_wrap {
            margin-left: 0;
            margin-top: 25px;
        }
    }
    .map__svg {
        margin-top: 50px;
    }
    .places {
        &__info {
            &-toggler {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: none;
                border: none;
                width: 100%;
                padding: 12px 30px;
                font-size: 16px;
                svg {
                    pointer-events: none;
                }
                &.active {
                    background: #CED9F0;
                }
            }
            &-wrap {
                display: none;
                &.active {
                    display: block;
                }
            }
            &-item {
                width: 100% !important;
                margin-bottom: 20px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .places {
        
        &__download {
            flex-direction: column;
            align-items: flex-start;
            padding: 15px;
            &-name {
                margin-bottom: 20px;
            }
            .btn {
                font-size: 12px;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .places {
        &__item {
            &-header {
                padding-right: 30px;
                padding-top: 65px;
                font-size: 16px;
            }
            &-type {
                right: unset;
                left: 30px;
            }
        }
    }
}