.pass_page {
    padding-bottom: 50px;
    p {
        font-size: 16px;
        line-height: 2;
        color: #212529;
        strong {
            font-weight: 700;
            color: #02517A;
        }
    }
    &__selected_category {
        p {
            font-size: 20px;
            &.pass_page__selected_category-value {
                strong {
                    color:#98C22A !important;
                }
                margin-bottom: 30px;
            }
        }
    
    }
    &__categories {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        flex-wrap: wrap;
        &-item {
            display: flex;
            width: 44%;
            // align-items: flex-start;
            margin-bottom: 38px;
        }
        &-info {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        &-img {
            margin-right: 25px;
            display: block;
            min-width: 172px;
        }
        &-name  {
            font-size: 20px;
            line-height: 1.5;
            font-weight: 700;
            color: #02517A;
        }
        &-text {
            font-size: 20px;
            line-height: 1.5;
            color: #02517A !important;
        }
        .btn {
            width: 100%;
            max-width: 220px;
            height: 52px;
            margin-top: 27px;
            font-size: 18px;
        }
    }
    &__file {
        display: flex;
    }
    &-footer {
        padding-top: 42px;
        padding-bottom: 72px;
        .instructions {
            &__file {
                padding-top: 0;
                margin-bottom: 38px;
                &:before {
                    top: 50%;
                    transform: translate(0,-50%);
                }
            }
            &__name,
            &__text {
                font-size: 16px;
            }

        }
        p {
            font-size: 20px;
            margin-bottom: 43px;
        }
    }
}
.pass_instructions {
    display: flex;
    justify-content: space-between;
    padding-top: 52px;
    padding-bottom: 61px;
    background: #F6F6FD;

    &__item {
        width: 100%;
        max-width: 48%;
        &-big {
            max-width: 763px;
        }
        &-heading {
            font-size: 20px;
            line-height: 1.6;
            margin-bottom: 57px;
        }
        &-img {
            display: block;
            img {
                max-height: 254px;
                box-shadow: 0 6px 12px rgba($color: #212529, $alpha: .16);
                border-radius: 6px;
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .pass_page {
        &__categories {
            &-item {
                width: 100%;
                .btn {
                    margin-top: auto;
                }
            }
        }
    }
    .pass_instructions {
        padding-left: 0;
        padding-right: 0;
        flex-wrap: wrap;
        &__item {
            max-width: 100%;
            margin-bottom: 50px;
            &-heading {
                padding-right: 32px;
                padding-left: 32px;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
            
            &-img {
                padding: 0 32px;
                img {
                    max-height: unset;
                }
            }

            &-big {
                .pass_instructions__item-img {
                    padding: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .pass_page {
        &__categories {
            &-name,
            &-text {
                font-size: 16px;
                line-height: 1.4;
            }
        }
    }
}