.news {
    &__item {
        padding-top: 44px;
        padding-bottom: 44px;
        display: flex;
        align-items: flex-start;
        &:nth-of-type(odd) {
            background: #F6F6FD;
        }
        &_img {
            margin-right: 25px;
            min-width: 369px;
        }
        &_date {
            display: block;
            font-size: 14px;
            line-height: 2.28;
        }
        &_heading {
            font-size: 20px;
            font-weight: 700;
            line-height: 1.6;
            margin-bottom: 30px;
            a {
                color: #02517A;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &_link {
            font-size: 20px;
            font-weight: 700;
            line-height: 1.6;
            color: #87AB15;
        }
    }
}
.article {
    &__date {
        font-size: 16px;
        margin-bottom: 24px;    
        line-height: 1.625;
    }
    &__header {
        font-size: 38px;
        line-height: 1.58;
        margin-bottom: 74px;
        max-width: 720px;
    }
    &_img {
        margin-bottom: 75px;
    }
    
    p {
        font-size: 14px;
        line-height: 2;
        margin-bottom: 28px;
        color:#212529;
        &.article__accent {
            font-weight: 700;
            font-size: 18px;
            color: #02517A;
            line-height: 1.55;
        }
        a {
            color: #87AB15;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    
}
@media screen and (max-width: 1250px) {
    .news {
        &__item {
            &_img {
                min-width: 300px;
                width: 0;
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .news {
        &__item {
            &_img {
                min-width: 300px;
                width: 0;
            }
        }
    }
    
}
@media screen and (max-width:767px) {
    .news {
        &__item {
            flex-direction: column;
            &_img {
                min-width: unset;
                width: auto;
                margin: 0 0 39px 0;
            }
            &_date,
            &_heading,
            &_link {
                font-size: 14px;
            }
        }
    }
    .article {
        &__header {
            font-size: 18px;
            margin-bottom: 29px;
        }
        &__img {
            margin-bottom: 60px;
        }
        p {
            font-size: 12px;
            line-height: 1.6;
            margin-bottom: 20px;
            &.article__accent {
                font-size: 12px;
            }
        }
    }
}






